<div class="fd-ef-5fac56cdbf43d8c5c6bfccd4">
    <div class="fd-modal ff__modal">
      <div class="fd-modal__dialog ff__dialog">
        <div class="fd-modal__content ff__content">
          <div class="fd-modal__body ff__body">
            <div class="ff__wrapper">
              <form class="ff__form" action="https://form.flodesk.com/submit" method="post" data-form="fdv2">
                <h3 class="ff__title">
                  <div>Newsletter</div>
                </h3>
                <div class="ff__subtitle">
                  <p>Get unique gift ideas and first peeks on our new favorites delivered straight to your inbox. Good things come to our W/C tribe! As always, your information is protected and you can opt-out at any time.</p>
                </div>
                <div class="ff__fields">
  
                  <div class="fd-form-group">
                    <input class="fd-form-control ff__control" type="text" name="email" placeholder="Email address">
                  </div>
                  <input type="text" name="name" value="" style="display: none" />
                  <input type="hidden" name="submitToken" value="7d19c5c0002af513ad672dd553d6b30cfa401d59aa209d4a993c20ed053ebd35f38ff76f608bd72913c5fcd3f04ee6ea37a2f5fc216219f3f971709a775e1add24c8fbdac2ff4ca6e8cfbd25b4c7d79c6e9a11ab5031ccbf418fb6248e7c7615" />
                </div>
                <div class="ff__footer">
                  <button type="submit" class="fd-btn ff__button" data-form-el="submit">
                    <span>Submit</span>
                  </button>
                </div>
                <div class="fd-success ff__success" data-form-el="success">
                  <p>Thank you for subscribing!</p>
                </div>
                <div class="fd-error ff__error" data-form-el="error"></div>
              </form>
            </div>
          </div>
          <button class="fd-modal__close ff__close">
            <svg style="width: 1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.51 14.51">
              <line x1="1" y1="1" x2="13.51" y2="13.51" fill="none" stroke="currentColor" strokeLinecap="round" strokeMiterlimit="10" strokeWidth="2" />
              <line x1="13.51" y1="1" x2="1" y2="13.51" fill="none" stroke="currentColor" strokeLinecap="round" strokeMiterlimit="10" strokeWidth="2" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <img height="1" width="1" style="display:none" src="https://t.flodesk.com/utm.gif?r=5fac56cdbf43d8c5c6bfccd4" />
  </div>