<div class="fd-ef-5fac562d76d8d645a6cf181f">
    <div class="ff__root">
      <div class="ff__container">
        <form class="flodesk-newsletter ff__form" action="https://form.flodesk.com/submit" method="post" data-form="fdv2">
          <div class="ff__fields">
            <input type="text" name="name" value="" style="display: none" />
            <input type="hidden" name="submitToken" value="7d19c5c0002af513ad672dd553d6b30cfa401d59aa209d4a993c20ed053ebd35f38ff76f608bd72913c5fcd3f04ee6ea8a9c9530d5734e64223757cdf65e4283368287a4e66831f5154a8749c764bf96036d980ea3b6113b5eccd2e1ee76b70c" />
            <div class="ff__grid">
                <input class="fd-form-control ff__control newsletter-email" type="text" name="email" placeholder="Email address">
                <button type="submit" class="fd-btn ff__button newsletter-submit" data-form-el="submit">
                  <span>→</span>
                </button>
            </div>
          </div>
          <div class="fd-success ff__success" data-form-el="success">
            <p>Thank you for subscribing!</p>
          </div>
          <div class="fd-error ff__error" data-form-el="error"></div>
        </form>
      </div>
    </div>
  
    <img height="1" width="1" style="display:none" src="https://t.flodesk.com/utm.gif?r=5fac562d76d8d645a6cf181f" />
  </div>

