{% comment %}
    Renders a list of menu items, without a wrapper UL
    Accepts:
    - linklist: {Object} Linklist Liquid object (required)
    Usage:
    {% include 'site-nav-noUL-noDropdown', linklist: section.settings.main_linklist ' %}
{% endcomment %}

  {% for link in linklists[linklist].links %}
    
    <li {% if link.active %} class="site-nav--active"{% endif %}>
    <a href="{{ link.url }}"
        class="site-nav__link site-nav__link--main{% if link.active %} site-nav__link--active{% endif %}"
        {% if link.current %} aria-current="page"{% endif %}
    >
        <span class="site-nav__label">{{ link.title | escape }}</span>
    </a>
    </li>
  {% endfor %}

