$bp-sm: 750px;
$bp-lg: 1200px;
$nav-bp: 990px;
$site-width: 1920px;

// header
$logo-width-md: 350px;
$logo-width-lg: 550px;

$grid-width: 1622px;
$col-width: 254px;
$col-gutter: 21px;

$section-margin: 195px;