@import '../settings/_settings.scss';


* {
  box-sizing: border-box;
  max-width: 100%;
  transition: $transition;
}

body {
  background: $bgColor;
  color: $textColor;
}

a {
  color: $linkColor;
  &:hover {
    color: $linkHover;
  }
}

.page-container {
  transform: none;
}
  
@media (max-width: $bp-sm) {
  .image-wrapper {
    flex: 1 0 400px;
    width: 100%;
  }
}
