@import '../settings/_settings.scss';


// theme overrides
.mobile-nav-wrapper::after {
  border: none;
}

button {
  background-color: transparent;
  border: 0;
  &:active,
  &:focus {
    border: 0;
    outline: 0;
  }
}

html {
  padding: 0 !important;
}


* {
  box-sizing: border-box;
  max-width: 100%;
  // transition: $transition;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  background: $bgColor;
  color: $textColor;
}

a {
  color: $linkColor;
  transition: .3s ease color;
  &:hover {
    color: $linkHover;
  }
}

.no-line {
  text-decoration: none;
}

.caps {
  text-transform: uppercase;
}
.page-container {
  transform: none;
}
  
@media (max-width: $bp-sm) {
  .image-wrapper {
    flex: 1 0 400px;
    width: 100%;
  }
}

main {
  button,
  .btn {
    @include buttonBordered;
  }
  
  .btn-text-link {
    @include buttonTextLink;
  }

  .underlined-link {
    text-decoration: underline;
  }
}

.hideOnSuccess {
  display: none;
}

a.no-line {
  text-decoration: none;
}


// forms


label,
select,
input,
.cf-input::-webkit-input-placeholder {
    color: $slate;
    @include baseSofia;
    font-size: 15px;
    opacity: 1;
}
label,
.cf-input::-webkit-input-placeholder {
    text-transform: lowercase;
}
select,
input {
    background: transparent;
    border: 0;
    border-bottom: $border;
    color: $slate;
    padding-left: 0;
    padding-right: 0;
}

textarea {
    background: transparent;
    border: $border;
    width: 100%;
}
select, input:not([type="submit"]) {
    width: 100%;
}

input[type="submit"] {
    background: $white;
    border: 0;
    text-transform: uppercase;
    padding: $spacer*2 $spacer*4;
}


.mb-0 {
  margin-bottom: 0 !important;
}

.form-subdued {
  a {
      color: $gray;
      &:hover {
          color: $black;
      }
  }
  text-align: left;
  font-size: 16px;
}
