@import '../settings/_settings.scss';

.filters-toolbar-wrapper {
    border: 0;
}

body.template-collection {
    scroll-behavior: smooth;
}

.collections-page {

    //margin-top: 84px;
    .collections-header {
        .section-header {
            border-bottom: $border;
            padding-top: $spacer*6;
            padding-bottom: $section-spacer / 2;
            .grid-container {
                .text-wrapper {
                    grid-column: 1 / 5;
                    h1 {
                        @include baseSofia();
                        font-size: 15px;
                    }
                    .description p {
                        @include h1Style();
                    }
                }
            }
        }
    
        .filters-toolbar.grid-container {
            grid-column: 1 / 7;
            padding-top: $spacer*6;
        }
    }

    .collections-grid {
        margin-top: $section-spacer/3;
        ul.grid-container {
            list-style: none;
            li {
                grid-column: span 2;
            }
        }

        .product-card {
            .product-info {
                display: flex;
                flex-wrap: wrap;
                font-size: 18px;
                margin-top: $spacer;

                > * {
                    display: block;
                    margin-right: $spacer;
                    &:last-child {
                        margin-right: none;
                    }
                }
                .available-variants {
                    text-transform: lowercase;
                    flex: 0 0 100%;
                    color: $gray;
                    font-size: 10px;
                    font-style: italic;
                    @media (min-width: $bp-sm) {
                        padding: $spacer/2 0;
                    }
                }
            }
            .product-card__title {
                min-height: 100%;
                border: none;
                &:hover {
                    border: none;
                }
                p {
                    @include baseSofia;
                    font-size: 18px;
                    margin: 0;
                }
            }
            .price .price-item {
                @include baseSofia;
                font-size: 12px;
                color: $gray;
                // &:before {
                //     content: "$"
                // }
            }
        }
    }

}

.grid-view-item,
.grid-view-item__image-wrapper {
    margin: 0;
}

.grid-view-item__image-wrapper.product-card__image-wrapper,
.grid-view-item__image-wrapper.product-card__image-wrapper img {
    max-width: 100% !important;
}


// filters
.filters-toolbar__input {
    overflow: visible;
}
.filters-toolbar-wrapper {
    padding-top: $section-spacer/2;
}
.filters-toolbar {
    display: flex;
    flex-wrap: nowrap;
@media (max-width: $bp-sm) {
    flex-direction: column;
    > .filter-item {
        padding: $spacer;
    }
}
    p {
        white-space: nowrap;
        @include capsSofia;
        font-size: 14px;
        margin: 0;
        @media (min-width: $bp-sm) {
            margin-right: $spacer*4;
        }
        padding-top: 3px;
    }
    > * {
        flex: 1;
    }
}
.filter-item select {
    @media (max-width: $bp-sm) {
        text-align: center;
        text-align-last: center;
        -moz-text-align-last: center;
    }
    outline: 0;
    padding: 0;
    height: auto;
    background: transparent;
    border: 0;
    //width: auto;
    width: unset;
    @include baseSofia;
    font-size: 22px;
    line-height: 30px;
    @media (min-width: $bp-sm) {
        margin-right: $spacer*2;
    }
    @media (max-width: $bp-sm) {
        font-size: 16px;
    }


    &.category-filter:not(.actively-filtered) {
        width: 8ch;
    }
    &.price-filter:not(.actively-filtered) {
        width: 5ch;
    }
    &.brand-filter:not(.actively-filtered) {
        width: 6ch;
    }

    &:focus {
        min-width: 150px;
        width: auto;
    }


    option {
        width: 100%;
    }
}

.product-card {
    .price__badges {
        &.price__badges--listing {
            position: absolute;
            top: 0;
            right: 0;
            background: $gray;
            text-align: center;
            margin: 0;
            .price-badge, 
            .price__badge--sale,
            .price__badge--sold-out,
            .price__badge--coming-soon {
                border-radius: 0;
                border: 0;
                background: $gray;
                color: $white;
                padding: $spacer*2 $spacer*3;
                text-align: center;
                font-weight: 400;
                @include capsSofia;
                font-size: 10px;
                span {
                    width: 100%;
                }
            }
        }
    }
}


.pagination {
    padding: 0;
    .load-more-btn {
        margin: $section-spacer/2 0;
    }
}


@keyframes fadeDownAnim {
    from { opacity: 1;}
    to   { opacity: .5;}
}

.loadingMore {
    animation: fadeOutAnim 1s ease-out 1 forwards;
}

@keyframes fadeOutAnim {
    from { opacity: .5;}
    to   { opacity: 0;}
}
.fadeOutBtn {
    animation: fadeOutAnim 1s ease-out 1 forwards;
}

@keyframes fadeInNewCollection {
    from { opacity: 0;}
    to   { opacity: 1;}
}
.collections-grid.load-more-pagination-results {
    margin-top: $spacer*3;
    animation: fadeInNewCollection 1s ease-out 1 forwards;
}

// mobile
@media (max-width: $bp-sm) {
    .collections-page .collections-grid ul.grid-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        > * {
            flex: 0 0 48%;
            margin-bottom: $spacer*3;
        }
    }
}


.product-card .product-card__image-wrapper {
    opacity: 1;
    transition: .6s ease-in opacity;
}

.product-card:hover .product-card__image-wrapper, 
.product-card:focus-within .product-card__image-wrapper {
    opacity: .8;
}

.main-content.collection-template > *:first-child {
    padding-top: 0;
    .section-header {
        padding-top: $section-spacer;
    }
}

.price--coming-soon {
    .price__badge.price__badge--coming-soon {
        display: block;
    }
}


.product-info .product-cart-vendor {
    flex: 0 0 100%;
    @include boldSofia;
    color: #000;
    font-size: 10px;
}