@import '../settings/_settings.scss';

// general footer  layout 

.grid-container {
  .site-footer-logo {
    grid-column: 1 / 2;
  }
  .site-footer-nav {
    grid-column: 4 / 5;
  }
  .site-footer-socials {
    grid-column: 5 / 6;
  }
  .site-footer-newsletter {
    grid-column: 6 / 7;
  }
}

.site-footer-copyright {
  margin-top: $section-spacer;
}

// columns 

.site-footer-item {
  display: flex;
  flex-direction: column;
  padding: 0;

  h3,
  ul li {
    @include baseSofia;
    font-size: 15px;
    color: $white;
  }
  a {
    text-decoration: none;
  }
  
}



.site-footer__social-icons {
  padding: 0;
}

.site-footer__linklist,                   
.site-footer__social-icons {
  li {
    display: flex;
    padding: 0;
    a {
      padding: $spacer/2 $spacer;
    }
  }
}

// copyright 

.site-footer__copyright-content {
  display: flex;
  justify-content: center;
  @media (max-width: $bp-sm) {
    justify-content: center;
  }
  align-items: center;
  > *:first-child {
    padding-right: $spacer/2;
  }
  > * {
    height: 18px;
  }
  * {
    font-size: 12px !important;
    color: #707070 !important;
    margin: 0;
    display: inline;
    a {text-decoration: none;}
  }
}

// newsletter form

.site-footer form {
  max-width: 100%;
  .ff__grid {
    .newsletter-email {
      width: 75%;
      padding: 0;
      border-radius: 0;
    }
    .newsletter-submit {
      span {
        color: #707070;
      }
    }
  }  
}



.shopify-challenge__container {
  padding-top: $section-spacer;
}



.site-footer {
  margin-top: 0;
}

.site-footer-logo-image {
  width: 100px;
}

@media (max-width: $bp-sm) {
  .site-footer {
    .grid-container {
      text-align: center;
      > * {
        margin: $spacer*6 0;
      }
    }
    .site-footer-logo-image {
      margin: 0 auto;
    }
    .site-footer__linklist li, 
    .site-footer__social-icons li {
      justify-content: center;
    }
    .site-footer-copyright {
      margin-top: $section-spacer/2;
    }
  }
}




.site-footer .newsletter-email {
  &::placeholder {
    color: $gray;
  }
}