@import '../settings/_settings.scss';

$nav-height: $spacer*12;

@mixin responsiveHeaderGrid($logoWidth) {
    // hide mobile btn
    .mobile-nav-btn {
        display: none;
    }

    // disable mobile-nav-wrapper js 
    .site-header__primary-links.mobile-nav-wrapper {
        display: block;
        transform: none !important;
        overflow: visible;
    }



    header.site-header {
        max-width: $site-width;
        display: grid;
//        grid-template-columns: 1fr $logoWidth 1fr;
        grid-template-columns: 1fr $logoWidth 1fr;
        padding: 0;
        max-width: $site-width;
        grid-template-rows: $nav-height;
    
        .site-logo {
            position: relative;
            z-index: 100;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            place-self: center;
        }
    
        .site-nav {
            margin: 0;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;   
        }
    
        .site-nav nav > ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr $logoWidth 1fr 1fr 1fr;
            grid-template-rows: $nav-height;
            > li {
                width: 100%;
                text-align: center;
                place-self: center;
                &:nth-child(4) {
                    grid-column-start: 5;
                    grid-column-end: 6;
                }

                a, button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .js-drawer-open {
        header.site-header {
            grid-template-rows: $nav-height $nav-height;
            .search-bar {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
    }
    .site-logo img {
        max-width: $logoWidth;
    }
}

// responsive header grids

@media (min-width: 1300px) {
    @include responsiveHeaderGrid($logo-width-lg);
}

@media (min-width: $nav-bp) and (max-width: 1300px) {
    @include responsiveHeaderGrid($logo-width-md);
}

/* 
design
*/

header.site-header {
    background: $white;
    @media (min-width: $nav-bp) {
        .site-nav, 
        .search-bar.drawer {
            border-bottom: $border;
        }  
    }
}  

// no border on home page
.template-index {
    header.site-header {
        @media (min-width: $nav-bp) {
            .site-nav {
                border-bottom: none;
            }  
        }
        border-bottom: none;
    }    
}

.site-nav .site-nav--active a {
    color: $slate;
}

/* search */

@keyframes pulseOpacity {
    0% {
        opacity: 0.6;
    }
    30% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.6;
    }
}
.search-bar.drawer {
    position: unset;
    width: 100%;
    height: $nav-height !important;
    .search-bar__form {
        flex: 1;
        position: relative;
        max-width: 100%;
        border: none;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    @mixin searchBarInput {
        //opacity: 1;
        @include h2Style($slate);
        font-size: 24px;
        line-height: 30px;
        @media (max-width: $bp-sm) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    .search-bar__input {
        // padding: 0;
        // width: 100%;
        outline: 0;
        min-height: 44px;
        border: none;
        text-align: center;
        // caret-color: transparent;

        @include searchBarInput;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            @include searchBarInput;
            animation: pulseOpacity 1s ease infinite;

          }
          &::-moz-placeholder { /* Firefox 19+ */
            @include searchBarInput;
            animation: pulseOpacity 1s ease infinite;

          }
          &:-ms-input-placeholder { /* IE 10+ */
            @include searchBarInput;
            animation: pulseOpacity 1s ease infinite;

          }
          &:-moz-placeholder { /* Firefox 18- */
            @include searchBarInput;
            animation: pulseOpacity 1s ease infinite;

          }
    }
    .input-sizer {
        @include searchBarInput;
    }
    button.search-bar__submit {
        width: 2ch;
        padding: 0;
        position: relative;
        font-size: 22px;
        @include baseSofia;
    }
}

.search-bar__actions {
    display: none;
}

.search-bar__input {
    width: auto;
}




/* fixes for shopify */

.site-header__icon {
    padding: 3px 10px;
}

.site-nav__link .icon-chevron-down {
    display: none;
}


// announcement 

.announcement-bar {
    background: $black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcement-bar__message {
    color: $white;
    @include italicFreight;
    padding: 0;
    margin: 0;
    font-size: calc(((14) / (12)) * .8em);
}




.site-header__cart {
    display: flex;
    justify-content: center;
    .site-header__cart-count {
        position: relative;
        margin: 0 $spacer;
    }
}



.predictive-search {
    background: $white; 
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    
    &.stacked {
      padding: .5em;
      align-items: stretch;
      
      &::after,
      input,
      textarea {
        grid-area: 2 / 1;
      }
    }
    
    &::after,
    input,
    textarea {
      width: auto;
      min-width: 1em;
      grid-area: 1 / 2;
      font: inherit;
      padding: 0.25em;
      margin: 0;
      resize: none;
      background: none;
      appearance: none;
      border: none;
    }
    
    span {
      padding: 0.25em;
    }
    
    &::after {
      content: attr(data-value) ' ';
      visibility: hidden;
      white-space: pre-wrap;
    }
    
    &:focus-within {
      // outline: solid 1px blue;
      // box-shadow: 4px 4px 0px blue;
      // > span { color: blue; }
      
      textarea:focus,
      input:focus {
        outline: none;
      }
    }
  }
  
  



 // mobile nav & header fixes 11.10.20
@media (min-width: $nav-bp) {
    .social-mobile-nav,
    .mobile-secondary-header {
        display: none;
    }
}

@media (max-width: $nav-bp) {
    .site-header__menu {
        display: block;
    }
    $mobile-header-height: 50px;
    .site-header {
        position: relative;
        z-index: 1000;
        padding: 0;
        display: grid;
        grid-template-rows: $mobile-header-height;
        grid-template-columns: repeat(3,1fr);
        border-bottom: 1px solid black;
        .site-logo {
            grid-column: 2 / 3;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .site-nav {
            border: 0;
            margin: 0;
        }
        .mobile-nav-btn {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: flex;
            svg {
                width: $spacer*2;
            }
            button:focus, button:active {
                outline: 0;
            }
            .mobile-nav--open {
                .icon-close {
                    display: none;
                }
            }
        }
    }
    .mobile-nav-wrapper,
    .js-menu--is-open.is-transitioning,
    .mobile-nav-wrapper.js-menu--is-open {
        transform: none !important;
        #MobileNav {
            opacity: 0;
        }
    }

    @keyframes fadeInNewCollection {
        from { opacity: 0;}
        to   { opacity: 1;}
    }

    .mobile-nav-wrapper.js-menu--is-open #MobileNav {
        animation: fadeInNewCollection .3s ease-out 1 forwards;
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        background: white;
        margin-top: $mobile-header-height + 1px;
    }

    .site-nav nav ul li a, .site-nav nav ul li button, .site-nav nav ul li button span {
        font-size: 36px;
        line-height: 43px;
    }
    .site-nav nav ul li button {
        padding: 0;
    }
    .site-nav nav ul li {
        padding: $spacer*2 $spacer*4;
    }


    .search-nav-btn,
    .cart-nav-btn {
        display: none;
    }

    .mobile-secondary-header {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        ul {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
        }
        li {
            display: flex;
        }
        svg {
            width: $spacer*4;
            height: $spacer*4;
            padding: $spacer;
        }
        .site-header__icon {
            padding-left: $spacer;
            padding-right: 0;
        }
        .site-header__cart {
            align-items: center;
            padding: $spacer;
            padding-left: 10px;
        }
        .site-header__cart-count {
            display: flex;
            align-items: center;
            min-width: auto;
            width: auto;
            height: auto;
            top: 0;
            margin: 0;
            span.cart-count {
                text-decoration: none;
                font-size: 14px;
                border: 0;
                @include baseSofia;
                padding: 0;
            }
        }
    }
    .social-mobile-nav {
        display: none;
    }
    .social-mobile-nav.mobile-nav-is-open {
        display: block;
        position: fixed;
        bottom: $spacer*6;
        left: $spacer*4;
        z-index: 1001;
        ul {
            list-style: none;
            padding: 0;
            > * {
                padding: $spacer 0;
            }
            li a {
                @include baseSofia;
                font-size: 15px;
                color: #49484C;
                text-decoration: none;
            }
        }
    }
}




.site-nav__label {
    white-space: nowrap;
}


// dropdowns
.site-nav--has-dropdown:hover .site-nav__dropdown,
.site-nav__dropdown {
    display: none;
}
.site-nav__dropdown li {
    padding: $spacer/2 $spacer*2;
}
.site-nav__dropdown .site-nav__link {
    padding: 0;
}

#SiteNavLabel-shop {
    width: 100%;
    text-align: center;
    padding: 0;
    padding-bottom: 7px;
}

@media (min-width: $nav-bp) {
    .site-nav--has-dropdown {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        .site-nav__dropdown {
            position: absolute;
        }
    }
    
    .site-nav--has-dropdown:hover .site-nav__dropdown {
        display: block;
    }
    
    .site-nav__dropdown {
        top: $section-spacer/2;
        z-index: 100;
        background: $white;
    }
}


// mobile fixes
@media only screen and (max-width: 749px) {
    .site-header__logo {
        padding-left: 0;
        text-align: center;
    }
}


@media (min-width: $nav-bp) {
    .search-icon {
        display: none;
    }
}


@media (max-width: $nav-bp) {
    .search-text {
        display: none;
    }
}




.search-bar {
    z-index: 899;
}


.search-bar.drawer {
    @media (max-width: $bp-sm) {
        border-top: $border;
        grid-column: 1 / 4;
    }
}


// dropdown on medium screens
@media (min-width: $nav-bp) and (max-width: 1040px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -32%;
    }
}
@media (min-width: 1041px) and (max-width: 1150px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -19%;
    }
}

@media (min-width: 1151px) and (max-width: 1200px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -11%;
    }
}


@media (min-width: 1201px) and (max-width: 1258px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -10%;
    }
}


@media (min-width: 1259px) and (max-width: 1300px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -5%;
    }
}


@media (min-width: 1301px) and (max-width: 1400px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -15%;
    }
}


@media (min-width: 1401px) and (max-width: 1500px) {
    #SiteNavLabel-shop {
        min-width: 180px;
        left: -9%;
    }
}

