@import '../settings/_settings.scss';

$nav-height: 100px;

@mixin responsiveHeaderGrid($logoWidth) {
    // hide mobile btn
    .mobile-nav-btn {
        display: none;
    }

    // disable mobile-nav-wrapper js 
    .site-header__primary-links.mobile-nav-wrapper {
        display: block;
        transform: none !important;
        overflow: visible;
    }

    // dropdowns
    .site-nav--has-dropdown {
        position: relative;
        .site-nav__dropdown {
            position: absolute;
        }
    }

    header.site-header {
        max-width: $site-width;
        display: grid;
        grid-template-columns: 1fr $logoWidth 1fr;
        padding: 0;
        max-width: $site-width;
        grid-template-rows: $nav-height;
    
        .site-logo {
            position: relative;
            z-index: 100;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            place-self: center;
        }
    
        .site-nav {
            margin: 0;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;   
        }
    
        .site-nav nav > ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr $logoWidth 1fr 1fr 1fr;
            grid-template-rows: $nav-height;
            > li {
                width: 100%;
                text-align: center;
                place-self: center;
                &:nth-child(4) {
                    grid-column-start: 5;
                    grid-column-end: 6;
                }

                a, button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .js-drawer-open {
        header.site-header {
            grid-template-rows: $nav-height $nav-height;
            .search-bar {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
    }
    .site-logo img {
        max-width: $logoWidth;
    }
}

// responsive header grids

@media (min-width: $bp-lg) {
    @include responsiveHeaderGrid($logo-width-lg);
}

@media (min-width: $bp-sm) and (max-width: $bp-lg) {
    @include responsiveHeaderGrid($logo-width-md);
}

// mobile nav

@media (max-width: $bp-sm) {
    .site-header {
        position: relative;
        border: none;
        z-index: 1000;
    }
    .mobile-nav-btn {
        display: block;
        position: absolute;
        top: $spacer;
        right: $spacer;
        svg {
            width: $spacer*5;
        }
        button:focus, button:active {
            outline: 0;
        }
        .mobile-nav--open {
            .icon-close {
                display: none;
            }
        }
    }
    .site-logo {
        max-width: 200px;
    }
    .site-nav {
        margin: 0;
    }
    .site-nav nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        > * {
            padding: $spacer;
        }
    }
}


/* 
design
*/

header.site-header {
    .site-nav, 
    .search-bar.drawer {
        border-bottom: $border;
    }  
}  

.site-nav .site-nav--active a {
    color: $slate;
}

/* search */

.search-bar.drawer {
    position: unset;
    width: 100%;
    height: $nav-height !important;
    .search-bar__form {
        flex: 1;
        position: relative;
        max-width: 100%;
        border: none;
        height: 100%;
    }

    .search-bar__input {
        // padding: 0;
        // width: 100%;
        outline: 0;
        min-height: 44px;
        height: 100%;
        border: none;
        text-align: center;
    }

    button svg {
        width: $spacer*5;
    }
}

::placeholder {
    color: $slate;
}

/* fixes for shopify */

.site-header__icon {
    padding: 3px 10px;
}

.site-nav__link .icon-chevron-down {
    display: none;
}


// announcement 

.announcement-bar {
    background: $black;
}
.announcement-bar__message {
    color: $white;
    @include italicFreight;
}
