@import '../settings/_settings.scss';

$nav-height: $spacer*12;

@mixin responsiveHeaderGrid($logoWidth) {
    // hide mobile btn
    .mobile-nav-btn {
        display: none;
    }

    // disable mobile-nav-wrapper js 
    .site-header__primary-links.mobile-nav-wrapper {
        display: block;
        transform: none !important;
        overflow: visible;
    }

    // dropdowns
    .site-nav--has-dropdown {
        position: relative;
        .site-nav__dropdown {
            position: absolute;
        }
    }

    header.site-header {
        max-width: $site-width;
        display: grid;
        grid-template-columns: 1fr $logoWidth 1fr;
        padding: 0;
        max-width: $site-width;
        grid-template-rows: $nav-height;
    
        .site-logo {
            position: relative;
            z-index: 100;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            place-self: center;
        }
    
        .site-nav {
            margin: 0;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;   
        }
    
        .site-nav nav > ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr $logoWidth 1fr 1fr 1fr;
            grid-template-rows: $nav-height;
            > li {
                width: 100%;
                text-align: center;
                place-self: center;
                &:nth-child(4) {
                    grid-column-start: 5;
                    grid-column-end: 6;
                }

                a, button {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .js-drawer-open {
        header.site-header {
            grid-template-rows: $nav-height $nav-height;
            .search-bar {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }
    }
    .site-logo img {
        max-width: $logoWidth;
    }
}

// responsive header grids

@media (min-width: $bp-lg) {
    @include responsiveHeaderGrid($logo-width-lg);
}

@media (min-width: $bp-sm) and (max-width: $bp-lg) {
    @include responsiveHeaderGrid($logo-width-md);
}

// mobile nav

@media (max-width: $bp-sm) {
    .site-header {
        position: relative;
        border: none;
        z-index: 1000;
    }
    .mobile-nav-btn {
        display: block;
        position: absolute;
        top: $spacer;
        right: $spacer;
        svg {
            width: $spacer*5;
        }
        button:focus, button:active {
            outline: 0;
        }
        .mobile-nav--open {
            .icon-close {
                display: none;
            }
        }
    }
    .site-logo {
        max-width: 200px;
    }
    .site-nav {
        margin: 0;
    }
    .site-nav nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        > * {
            padding: $spacer;
        }
    }
}


/* 
design
*/

header.site-header {
    background: $white;
    .site-nav, 
    .search-bar.drawer {
        border-bottom: $border;
    }  
}  

.site-nav .site-nav--active a {
    color: $slate;
}

/* search */

.search-bar.drawer {
    position: unset;
    width: 100%;
    height: $nav-height !important;
    .search-bar__form {
        flex: 1;
        position: relative;
        max-width: 100%;
        border: none;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    @mixin searchBarInput {
        opacity: 1;
        @include h2Style($slate);
    }

    .search-bar__input {
        // padding: 0;
        // width: 100%;
        outline: 0;
        min-height: 44px;
        height: 100%;
        border: none;
        text-align: center;
        caret-color: transparent;

        @include searchBarInput;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            @include searchBarInput;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            @include searchBarInput;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            @include searchBarInput;
          }
          &:-moz-placeholder { /* Firefox 18- */
            @include searchBarInput;
          }
    }
    .input-sizer {
        @include searchBarInput;
    }
    button.search-bar__submit {
        width: 0;
        padding: 0;
        position: relative;
        font-size: 22px;
        @include baseSofia;
    }
}



.search-bar__actions {
    display: none;
}

.search-bar__input {
    width: auto;
}




/* fixes for shopify */

.site-header__icon {
    padding: 3px 10px;
}

.site-nav__link .icon-chevron-down {
    display: none;
}


// announcement 

.announcement-bar {
    background: $black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.announcement-bar__message {
    color: $white;
    @include italicFreight;
    padding: 0;
    margin: 0;
}




.site-header__cart {
    display: flex;
    justify-content: center;
    .site-header__cart-count {
        position: relative;
        margin: 0 $spacer;
    }
}

.site-nav--has-dropdown .site-nav__dropdown {
    z-index: 1000;
    background: $white;
}

.predictive-search {
    background: $white; 
}

.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    
    &.stacked {
      padding: .5em;
      align-items: stretch;
      
      &::after,
      input,
      textarea {
        grid-area: 2 / 1;
      }
    }
    
    &::after,
    input,
    textarea {
      width: auto;
      min-width: 1em;
      grid-area: 1 / 2;
      font: inherit;
      padding: 0.25em;
      margin: 0;
      resize: none;
      background: none;
      appearance: none;
      border: none;
    }
    
    span {
      padding: 0.25em;
    }
    
    &::after {
      content: attr(data-value) ' ';
      visibility: hidden;
      white-space: pre-wrap;
    }
    
    &:focus-within {
      // outline: solid 1px blue;
      // box-shadow: 4px 4px 0px blue;
      // > span { color: blue; }
      
      textarea:focus,
      input:focus {
        outline: none;
      }
    }
  }
  
  