@import '../settings/_settings.scss';


/* resets from theme */
.page-width {
  *zoom: 1;
  padding: 0;
}



/* overall page layout */

body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  // > * {
  //   display: none;
  // }
  > #shopify-section-header,
  > #PageContainer,
  > .shopify-section {
    display: block;
  }
}

#PageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* section layouts */
.feature-row {
    @media (min-width: $bp-sm) {
        .image-wrapper {
            flex: 0 1 50%;
        }
    }
}


/* home page */

.index-section {
  &.animated-banner {
    .animationWrapper {
      display: flex;
      flex-direction: column;
      > * {
        padding: 15vh 0;
      }
    }
  }
}


/* site grid */

.page-width {
  width: 100%;
  @media (min-width: $site-width) {
    width: $site-width;
    margin: 0 auto;
  }  
}

/* home page */
@mixin basicGrid() {
  @media (min-width: $grid-width) {
    width: $grid-width;
    max-width: $grid-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, $col-width);
    grid-template-rows: 1fr;  
    grid-gap: $col-gutter;
  }
  @media (min-width: $bp-sm) and (max-width: $grid-width){
    width: 90%;
    width: 90vw;
    max-width: 90%;
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;  
    grid-gap: $col-gutter;
  }
  @media (max-width: $bp-sm) {
    width: 90%;
    width: 90vw;
    max-width: 90%;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .text-wrapper {
      padding-top: $spacer*3;
    }
  }
}

.grid-container {
  @include basicGrid;
}

.grid-container.grid-container-auto-rows {
  grid-auto-rows: auto;
}


.page-width {
  @media (min-width: $grid-width) {
    width: $grid-width;
    max-width: $grid-width;
    margin: 0 auto;
  }
  @media (min-width: $bp-sm) and (max-width: $grid-width){
    width: 90%;
    width: 90vw;
    max-width: 90%;
    width: 90vw;
    margin: 0 auto;
  }
  @media (max-width: $bp-sm) {
    width: 90%;
    width: 90vw;
    max-width: 90%;
    width: 90vw;
    margin: 0 auto;
  }
}

