@import '../settings/_settings.scss';

/* general feature rows */

.shopify-section {
    .feature-row {
        @include basicGrid;
        .text-wrapper {
            p {
                @include pSmallStyle;
            }
            .title {
                @include h1Style;
            }
        }
    }
}
.feature-row__image-wrapper {
    margin: 0;
}

/* general text banners */

.text-banner {
    background: $gray;
    padding: $spacer*20 0;
    .text-wrapper {
        @include basicGrid;
        text-align: center;
        > * {
            grid-column: 2 / 6;
        }
        h2 {
            @include capsSofiaTitle($white);
        }
        p {
            @include h4Style($white);
        }
    }
}

/* general rich text - like feature rows, but no pic */

.shopify-section .rich-text {
    @include basicGrid;
}

/* general featured list */


.featured-list {
    @include basicGrid;
    .text-wrapper {
        h2 {
            @include capsSofiaTitle($slate);
        }
        .description {
            p {
                @include h3Style($slate);
            }
        }
        .list {
            p {
                @include boldSofia;
                a,
                span {
                    text-decoration: none !important;
                }
            }
        }
    }
} 

/* general hero */

  
.hero {
    position: relative;
    @media only screen and (min-width: 750px) {
        &.hero--x-large {
            height: 775px;
            height: 83vh;
        }
    }

    .grid-container {
        .hero-text {
            grid-column: 1 / 4;
        }
        .hero-caption {
            grid-column: 5 / 7;
        }
    }

    .hero-text {
        > * {
            color: $slate;
            margin-bottom: $spacer*2;
            &:last-child {
                margin-bottom: none;
            }
        }
    }

    .btn {
        @include buttonBordered;
        & + .btn {
            margin-left: $spacer*2;
        }
    }

    .hero-caption {
        width: 60ch;
        text-align: right;
        position: absolute;
        bottom: $spacer;
        right: $spacer;
        color: $white;
        p {
            @include pSmallStyle($white);
            a {
                @include lightLink;
            }
        }
    }
}


  

/* PAGE PADDING */


.main-content {
    min-height: 50vh;
    > *:first-child {
        padding-top:  $section-spacer;
    }
    > *:last-child {
        padding-bottom:  $section-spacer;
    }
    // padding: $section-spacer 0;
    .corporate-section,
    .gad-section,
    .story-section {
        display: block;
        padding-bottom: $section-spacer;
        &:last-child {
            padding-bottom: 0;
        }
    } 
}
.index-section + .index-section {
    margin-top: $section-spacer;
  }


/* STORY PAGE */

.st-section-1.feature-row {
        .text-wrapper,
        .image-wrapper {
            grid-column: 2 / 5;
        }
        .image-hover-swap {
            position: relative;
            > * {
                position: relative;
            }
            > .image-hover-swap-img-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: $transition;
            }
        }
        .image-wrapper:hover {
            .image-hover-swap > .image-hover-swap-img-wrapper {
                opacity: 1;
            }
        }
    }

.st-section-2.feature-row {
        .text-wrapper {
            grid-column: 2 / 4;
        }
        .image-wrapper {
            grid-column: 5 / 7;
            .btn-text-link {
                margin-top: $spacer;
            }
        }
    }

.st-section-4.rich-text {
        .text-wrapper {
            grid-column: 2 / 4;
        }
    }




/* GIVE A DAMN PAGE */


.gad-section-1.feature-row {
    .text-wrapper {
        grid-column: 2 / 4;
    }
    .image-wrapper {
        grid-column: 5 / 7;
    }
}

.gad-section-2.featured-list {
    .text-wrapper {
        grid-column: 3 / span 3;
    }
} 

.gad-section-3.featured-list {
    .text-wrapper {
        grid-column: 2 / span 3;
    }
} 


/* CORPORATE PAGE */

.co-section-1.feature-row {
    .text-wrapper {
        position: relative;
        z-index: 9;
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }
    .image-wrapper {
        position: relative;
        z-index: 8;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

    .anim-text-swap {
        // animations
        $animationDuration: 8s;
        span {
            background-image: linear-gradient(to top, $slate 1%, transparent 1%);    
            animation: textSwap $animationDuration ease infinite;  
            opacity: 0;
            display: none;
            &:first-child {
                display: inline;
                animation-delay: 0;
            }  
            // &:nth-child(2) {
            //     // animation-delay: $animationDuration;
            // }  
            // &:nth-child(3) {
            //     // animation-delay: $animationDuration*2;
            // }  
        }
    }
    // animation tk 
}

@keyframes textSwap {
    0% { opacity: 0; }
    50%   { opacity: 1; }
    100% { opacity: 0; }
}

// The animation shorthand CSS property applies an animation between styles. It is a shorthand for animation-name, animation-duration, animation-timing-function, animation-delay, animation-iteration-count, animation-direction, animation-fill-mode, and animation-play-state.

.co-section-2.feature-row {
    .text-wrapper {
        grid-column: 2 / 4;
    }
    .image-wrapper {
        grid-column: 5 / 7;
    }
}

.co-row {
    display: flex;
    .corporate-section {
        padding-top: 0;
        padding-bottom: 0;
    }
    > * {
        @media (min-width: $site-width) {
            width: $site-width/2;
        }
        flex: 0 0 50%;
        padding: 0;
        margin-top: $section-spacer;
        border: $border;
        &:first-child {
            border-right: none;
        }
    }
}

// 3 & 4 no grid. each is half of site-width.  

.co-section-3, 
.co-section-4 {
    h2 {
        padding-left: $spacer*2;
        @include h1Style($sand);
    }
}
.co-section-3 {
    .logo-grid {
        padding: $section-spacer/2 $section-spacer;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, auto);
        .image-container {
            img {
                height: 150px;
                object-fit: contain;
                padding: $spacer*3;
            }            
        }
    }
}



.co-section-4 {
    &.quotes,
    .quotes-wrapper,
    .quotes-slider-wrapper,
    .quotes-slider {
        display: block;
        width: 100%;
        max-width: 50vw;
        height: 100%;
    }

    .quotes-slider {
        overflow: hidden;
    }

    .slick-track {
        display: flex;
    }


    ul li .content {
        transition: transform 0.3s linear;
        transition-delay: 0.5s;
    }
    
    ul li:not(.slick-current) .content {
        transform: scale(0.9);
        transition-delay: 0s;
    }

    blockquote {
        p, cite {
            max-width: 65ch;
            margin: 0 auto;
        }
        p {
            @include pSmallStyle;
            margin-bottom: 0;
        } 
        cite {
            @include pSmallStyle;
            font-size: 12px;
            line-height: 16px;
            font-style: italic;
        }
    } 

    .quotes-slider {
        display: flex;
        align-items: center;
        .slick-arrow {
            border: none;
            display: block;
            flex: 1;
            transform: translateX(0);
            transition: 1.3s ease-out transform;
            &:hover {
                background: transparent;
            }
            &.slick-prev {
                text-align: right;
                margin-right: $spacer;
                &:hover {
                    transform: translateX(-1*$spacer);
                }
            }
            &.slick-next{
                text-align: left;
                margin-left: $spacer;
                &:hover {
                    transform: translateX($spacer);
                }
            }
        }
        .slick-list {
            flex: 60%;
            @media (min-width: $site-width) {
                flex: 400px;
            }
            .slick-track {
                display: flex;
                .slick-slide {
                    top: unset !important;
                    padding-bottom: $section-spacer / 2;
                }
            }
        }
    }
}





.co-section-5.feature-row {
    .text-wrapper {
        grid-column: 1 / 4;
        padding: $col-width/1.9;
    }
    .image-wrapper {
        grid-column: 4 / 7;
    }
}

.co-section-6.feature-row {
    .text-wrapper {
        grid-column: 3 / span 3;
        padding: $col-width/1.9;
    }
    .image-wrapper {
        grid-column: 1 / 3;
    }
}



/* HOME PAGE */

#shopify-section-hero-1 {
   margin-top: -1 * $section-spacer;
   overflow: hidden;
   position: relative;
   #Hero-swap-hero-1 {
       background-size: cover;
   }
   .image-hover-swap {
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
       opacity: 0;
       transition: $transition;
       display: grid;
   }
   &:hover {
       .image-hover-swap {
           opacity: 1;
       }
   }
}
  // this selects the div right under the hero :) 
  #shopify-section-hero-1 + div {
    .grid-container {
      .feature-row__text {
        grid-column: 2 / span 2;
        @media (min-width: $site-width) {
            width: 50%;
        }
        width: 70%;
        margin: 0 auto;
        padding: 0;
        .h3 {
          @include capsSofia;
          font-size: 15px;
        }
        p {
          @include pSmallStyle();
        }
      }
      .image-wrapper {
        grid-column: 5 / 7;
      }
    }
  }

  .home-featured-products {
    > * {
        @media (min-width: $grid-width) {
            width: $grid-width;
            max-width: $grid-width;
            margin: 0 auto;
        }
    }
    .grid-container {
        margin: $spacer*3 auto;
    }
    .product-item {
        text-decoration: none;
        * {
            text-decoration: none;
        }
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto auto;
        position: relative;
        .product-text {
            padding: $spacer;
            grid-row: 1 / 2;
            grid-column: 1 / 3;
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            h3, .price-item {
                @include baseSofia;
                font-size: 12px;
            }
        }
        .product-image {
            grid-row: 1 / 4;
            grid-column: 1 / 3;
            position: relative;
            z-index: 9;
        }
        .product-hover-overlay {
            padding: 0 $spacer;
            opacity: 0;
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            position: relative;
            z-index: 11;
            transition: .3s ease-out opacity;
            display: flex;
            justify-content: space-between;
            > * {
                flex: 0 0 48%;
            }
            .description *,
            .description {
                @include baseSofia;
                font-size: 10px;
            }
            .btn {
                margin-top: $spacer*3;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                border: none;
                color: $black;
            }
        }
        &:hover {
            .product-hover-overlay {
                opacity: 1;
            } 
        }

    }

    .btn-text-link {
        font-size: 22px;
    }
  }
  
  
  .animated-banner {
    h2 {
        @include capsSofia;
        font-size: 15px;
    }
    .text-banner {
        background: transparent;
    }

    .text-wrapper + .text-wrapper {
        margin-top: $section-spacer
    }

    .title {
        margin-bottom: $spacer*3;
    }

    .text-banner .text-wrapper {
        .description p {
            margin: 0;
            color: unset;
        }
    }

    .our-brands ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-right: $spacer;
            h3 {
                @include h4Style(unset);
            }
            h4 {
                @include baseSofia;
                font-size: 10px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
  }

.home-cta {
    .grid-container {
        .text-wrapper {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }
        .image-wrapper {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    } 
    .grid-container + .grid-container {
        margin-top: $spacer*6;
        .text-wrapper {
            grid-column: 4 / 5;
        }
        .image-wrapper {
            grid-column: 3 / 4;
        }
    } 

    .text-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .feature-row__image-wrapper {
        margin-bottom: 0;
    }
}


// general pages
.page-wrapper {
    .page-content {
        margin-top: $section-spacer;
    }
    
    &.grid-container {
        > * {
            grid-column: 2 / 6;
        }
    }
}
