@import '../settings/_settings.scss';

.template-product .main-content {
    padding: 0;
}

.product-recommendations__inner {
    .product-card__title,
    .price--listing {
        display: none;
    }
}

.product-single {
    &.grid-container {
        .image-wrapper {
            grid-column: span 3;
            @media (min-width: $bp-sm) {
                padding-right: $col-width/2;
            }
        }
        .text-wrapper {
            grid-column: 4 / span 3;

            .product-featured-tag p {
                @include baseSofia;
                font-size: 15px;
                margin: $spacer 0;
            }
            .product-single__title {
                @include baseFreight;
                font-size: 36px;
                line-height: 46px;
                margin: $spacer 0;
            }
            .price-item {
                @include baseSofia;
                font-size: 22px;
                line-height: 30px;
                margin: $spacer 0;
                // &:before {
                //     content: '$'
                // }
            }

            .product-single__description.rte,
            .product-single__description.rte * {
                @include baseSofia;
                font-size: 16px;
                line-height: 24px;
                ul {
                    margin-top: $spacer;
                }
            }
            .product-cta {
                margin: $spacer*3 0;
            }
            .product-cta-link {
                @include baseFreight;
                font-size: 14px;
                line-height: 16px;
            }

            .btn,
            .shopify-payment-button__button--unbranded {
                @include buttonFlat;
                margin: 0;
            }
            .shopify-payment-button__button--hidden {
                display: none;
            }

            .product-form,
            .product-single__description {
                padding: 0;
                margin: 0;
            }
            .product-single__description {
                margin-top: $spacer*3;
            }
        }
    }
}

.main-content>*:first-child.product-breadcrumbs {
    padding: $section-spacer/2 0;
    @media (max-width: $bp-sm) {
        padding: $spacer*3 0;
    }
}

.product-breadcrumbs {
    .breadcrumb,
    .breadcrumb a,
    .breadcrumb span {
        @include capsSofia;
        color: $gray;
        text-decoration: none;
    }
    .text-wrapper {
        grid-column: span 6; 
        @media (max-width: $bp-sm) {
            padding: 0;
        }
    }

}

.product-recommendations {
    margin-top: $section-spacer;

    .section-header.grid-container {
        .text-wrapper {
            grid-column: span 6;
            margin-bottom: $spacer*3;
        }
    }

    ul.product-recs-grid.grid-container {
        list-style: none;
        li {
            grid-column: span 1;
        }
        
    }
    .product-info {
        display: none;
    }
}

.product-single__thumbnails-item {
    display: block;
}
.product-single__thumbnail.active-thumb {
    border: $border;
}

.product-form__cart-submit {
    position: relative;
    .icon-loading {
        position: absolute;
        width: $spacer*3;
        right: $spacer*3;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        //background: green;
        svg {
            width: $spacer*3;
        }
    }
}

.product-form__controls-group {
    .product-form__item {
        margin: $spacer*3 0;
        &.selector-wrapper {
            position: relative;
            select + .select-menu-icon {
                position: absolute;
                bottom: $spacer*2;
                right: $spacer*3;
                pointer-events: none;
                @include pSmallStyle;
            }
        }
    }
    .product-form__item--submit {
        margin-top: 0;
    }
    .product-form__item label {
        font-size: 10px;
    }
    select {
        border-radius: 0;
        border: $border;
        @include pSmallStyle;
    }
}

// .price__badges {
//     .price-badge,
//     .price__badge--sale,
//     .price__badge--sold-out {
//         border: 0;
//         background: $white;
//     }
// }

// .price--coming-soon {
//     .price__badge--coming-soon {
//        display: flex;
//        border: 0;
//        background: $white;
//     } 
// }

.return-link-wrapper {
    margin-bottom: $section-spacer;
}

.product-form__controls-group--submit .shopify-payment-button {
    display: none;
}


.product-single__thumbnails-item--full {
    flex: 0 0 100px;
}

@media (max-width: $bp-sm) {
    .product-recs-grid.grid-container {
        width: 90%;
        width: 90vw;
        max-width: 90%;
        max-width: 90vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;  
        grid-gap: $col-gutter;
    }
    .grid-view-item {
        margin: 0;
    }
}

#shopify-section-product-recommendations {
    margin-bottom: 188px;
}


// thumbnail slider

.product-single__thumbnail-image {
    padding: 0;
}

@media (max-width: $bp-sm) {
    .thumbnails-wrapper {
        margin: 0;
    }
    .product-single__thumbnails-slider-track {
        transform: none !important;
        display: flex;
        flex-wrap: wrap;
    }

    .slider-active .product-single__thumbnails {
        max-width: 100%;
    }

    .product-single__thumbnails {
        margin: 0;
        justify-content: center;
    }
    .product-single__thumbnails-item--full {
        flex: 0 0 70px;
    }
    .product-single__media-group--full {
        margin-bottom: $spacer*2;
    }
}


.product-single .image-wrapper {
    position: relative;
}
.product-page-price-badge {
    position: absolute;
    top: 0;
    right: $col-width / 2;
    z-index: 800;
    .price-badge {
        background: $gray;
        color: $white;
        padding: $spacer*2 $spacer*3;
        @include capsSofia;
        font-size: 10px;
    }
}

.product-form__item {
    @media (min-width: $nav-bp) {
        flex: 0 0 30%;
    }
}

