<div class="page-width co-section-3">
  {% if section.settings.headline != blank %}
    <h2 class="title">{{ section.settings.headline }}</h2>
  {% endif %}
    {% if section.settings.brand != blank %}
        {{ section.settings.brand }}
    {% endif %}
    <div class="logo-grid">
      {% for block in section.blocks %}
      <!-- {{ block.settings.brand_logo }} -->
      {% if block.settings.brand_logo != blank %}
        <div class="image-wrapper">
          {% include 'image-plain', image: block.settings.brand_logo, height: 150, id: section.id %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>



{% schema %}
{
  "name": "Companies",
  "class": "corporate-section",
  "max_blocks": 6,
  "settings": [
      { 
        "type": "text",
        "id": "headline",
        "label": "Headline",
        "default": "Who We've Worked With"
    }
  ],
  "blocks": [
    {
      "type": "image_pickre",
      "name": "Brand",
      "settings": [
        { 
            "type": "image_picker",
            "id": "brand_logo",
            "label": "Brand Logo"
        },
        { 
            "type": "text",
            "id": "brand_name",
            "label": "Brand Name"
        }
      ]
    }
  ]
}
{% endschema %}
