{% capture image_layout %}
<div class="image-wrapper">
  {% if section.settings.image != blank %}
    {% include 'image-feature-row', image: section.settings.image, height: 545, id: section.id %}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>
{% endcapture %}

<div class="feature-row co-section-2">
    <div class="text-wrapper">
      {% if section.settings.text != blank %}
        <div class="text">{{ section.settings.text }}</div>
      {% endif %}
    </div>
    {{ image_layout }}
</div>

  
  
  
  {% schema %}
  {
    "name": "Text + Image",
    "class": "corporate-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ]
  }
  {% endschema %}
  