<div class="featured-list gad-section-3">

  <div class="text-wrapper">
    {%- if section.settings.title -%}
      {%- if section.settings.title != blank -%} 
        <h2>{{ section.settings.title }}</h2>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.text -%}
      {%- if section.settings.text != blank -%} 
       <div class="description">
        {{ section.settings.text }}
       </div>
      {%- endif -%}
    {%- endif -%}
    
    {%- if section.settings.list -%}
      {%- if section.settings.list != blank -%} 
        <div class="list">
          {{ section.settings.list }}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>

</div>



{% schema %}
{
  "name": "Featured List",
  "class": "gad-section section-animation",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "list",
      "label": "List"
    }
  ]
}
{% endschema %}
