<div class="page-width rich-text">

  {%- if section.settings.title -%}
    {%- if section.settings.title != blank -%} 
      {{ section.settings.title }}
    {%- endif -%}
  {%- endif -%}

  {%- if section.settings.text -%}
    {%- if section.settings.text != blank -%} 
      {{ section.settings.text }}
    {%- endif -%}
  {%- endif -%}
  
  {%- if section.settings.list -%}
    {%- if section.settings.list != blank -%} 
      {{ section.settings.list }}
    {%- endif -%}
  {%- endif -%}


</div>



{% schema %}
{
  "name": "Centered List",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "list",
      "label": "List"
    }
  ]
}
{% endschema %}
