  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
    <div class="product-recommendations">
      <div class="section-header grid-container">
        {%- if section.settings.heading != blank -%}
        <div class="text-wrapper">
          <h2 class="title">{{ section.settings.heading | escape }}</h2>
        </div>
        {%- endif -%}
      </div>

      <ul class="product-recs-grid grid-container">
        {%- for product in recommendations.products -%}
          <li class="grid__item">
            {% include 'product-card-grid', max_height: 250, product: product, show_vendor: false %}
          </li>
        {%- endfor -%}
      </ul>
    </div>   
    {%- endif -%}
  {%- else  -%}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}

{% schema %}
{
  "name": {
    "cs": "Doporučení produktů",
    "da": "Produktanbefalinger",
    "de": "Produktempfehlungen",
    "en": "Product recommendations",
    "es": "Recomendaciones de productos",
    "fi": "Tuotesuositukset",
    "fr": "Recommandations de produits",
    "hi": "उत्पाद की अनुशंसाएं",
    "it": "Raccomandazioni sui prodotti",
    "ja": "商品の推奨",
    "ko": "제품 권장 사항",
    "nb": "Produktanbefalinger",
    "nl": "Productaanbevelingen",
    "pl": "Rekomendacje produktu",
    "pt-BR": "Recomendações de produtos",
    "pt-PT": "Recomendações de produtos",
    "sv": "Produktrekommendationer",
    "th": "คำแนะนำสินค้า",
    "tr": "Ürün önerileri",
    "vi": "Đề xuất sản phẩm",
    "zh-CN": "产品推荐",
    "zh-TW": "商品推薦"
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You May Also Like"
    }
  ]
}
{% endschema %}
