  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
    <div class="product-recommendations">
      <div class="section-header grid-container">
        {%- if section.settings.heading != blank -%}
        <div class="text-wrapper">
          <h2 class="title">{{ section.settings.heading | escape }}</h2>
        </div>
        {%- else -%}
        <div class="text-wrapper">
          <h2 class="title">You May Also Like</h2>
        </div>
        {%- endif -%}
      </div>
      <ul class="product-recs-grid grid-container">
        <!-- if there are less than 6 products, then count how mnay are missing. get collection. get products from collection that aren't already listed here. if there are none, then go to All collections-->

        {%- for product in recommendations.products -%}
          <li class="grid__item">
            {% include 'product-card-grid', max_height: 250, product: product, show_vendor: false %}
          </li>
        {%- endfor -%}
        
      </ul>
    </div>   
    {%- endif -%}
  {%- else  -%}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You May Also Like"
    }
  ]
}
{% endschema %}
