<div class="text-banner st-section-3">
  <div class="text-wrapper">
    {% if section.settings.section_title != blank %}
      <div class="title">
        <h2>{{ section.settings.section_title | escape }}</h2>
      </div>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="description">
        <div class="rte">
          {{ section.settings.text }}
        </div>
      </div>
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": "Text Banner",
  "class": "story-section section-animation",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
