<div class="text-banner">
      {% if section.settings.section_title != blank %}
        <div class="text-center">
          <h2 class="h3">{{ section.settings.section_title | escape }}</h2>
        </div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text-center">{{ section.settings.text }}</div>
      {% endif %}
    </div>
  </div>
</div>



{% schema %}
{
  "name": "Text Banner",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
