{% capture image_layout %}
<div class="image-wrapper">
  {% if section.settings.image != blank %}
    {% include 'image-feature-row', image: section.settings.image, height: 545, id: section.id %}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
    {% include 'button', label: section.settings.button_label, link: section.settings.button_link %}
  {% endif %}
</div>
{% endcapture %}

<div class="feature-row st-section-2">
 
    <div class="text-wrapper">
      {% if section.settings.title != blank %}
        <div class="title">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="text">{{ section.settings.text }}</div>
      {% endif %}
    </div>

    {{ image_layout }}

</div>



{% schema %}
{
  "name": "Text + Image",
  "class": "story-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ]
}
{% endschema %}
