<!-- 
1 Banner
2 Text + Image
3 Companies
4 Kind Words
5 Text + Image
6 Text + Image 
-->
{% section 'co-section-1' %}
{% section 'co-section-2' %}
<div class="co-row">
    {% section 'co-section-3' %}
    {% section 'co-section-4' %}
</div>
{% section 'co-section-5' %}
{% section 'co-section-6' %}
