<div class="page-width">
    <div class="empty-page-content text-center">
      <h1>Thank you for subscribing!</h1>
      <p>Check your inbox.</p>
      <p>
        <a href="{{ routes.all_products_collection_url }}" class="btn btn--has-icon-after">Continue Shopping{% include 'icon-arrow-right' %}</a>
      </p>
    </div>
  </div>
  